In [1]:
import pandas as pd
Future_CSCO = pd.read_csv("CSCO_Future_Data3.csv", date_parser=True)

Predicted_CSCO = pd.read_csv("CSCO_Predicted.csv", date_parser=True)
Predicted_CSCO

     Unnamed: 0        Date      Close    Adj_Date  Predicted_Close
0           960  2019-10-01  47.740002  2019-09-24        49.031174
1           961  2019-10-02  46.560001  2019-09-25        49.004753
2           962  2019-10-03  47.060001  2019-09-26        48.809060
3           963  2019-10-04  47.520000  2019-09-27        48.465958
4           964  2019-10-07  47.770000  2019-09-30        48.152990
..          ...         ...        ...         ...              ...
294        1254  2020-11-30  43.020000  2020-11-23        41.812862
295        1255  2020-12-01  43.540001  2020-11-24        42.056038
296        1256  2020-12-02  43.889999  2020-11-25        42.293762
297        1257  2020-12-03  44.110001  2020-11-26        42.534733
298        1258  2020-12-04  44.380001  2020-11-27        42.785946

[299 rows x 5 columns]

In [2]:
import pandas as pd
Future_EDU = pd.read_csv("EDU_Future_Data.csv", date_parser=True)

Predicted_EDU = pd.read_csv("EDU_Predicted.csv", date_parser=True)
Predicted_EDU

     Unnamed: 0        Date       Close    Adj_Date  Predicted_Close
0           960  2019-10-01  111.220001  2019-09-24       113.384700
1           961  2019-10-02  110.389999  2019-09-25       113.232346
2           962  2019-10-03  112.910004  2019-09-26       113.076416
3           963  2019-10-04  114.070000  2019-09-27       112.809420
4           964  2019-10-07  114.250000  2019-09-30       112.791930
..          ...         ...         ...         ...              ...
294        1254  2020-11-30  164.850006  2020-11-23       183.226600
295        1255  2020-12-01  161.770004  2020-11-24       181.417560
296        1256  2020-12-02  157.960007  2020-11-25       179.102200
297        1257  2020-12-03  162.089996  2020-11-26       176.289080
298        1258  2020-12-04  161.880005  2020-11-27       173.205920

[299 rows x 5 columns]

In [3]:
Total_EDU = pd.concat([Predicted_EDU,Future_EDU])

In [4]:
Total_CSCO = pd.concat([Predicted_CSCO,Future_CSCO])

In [5]:
Total_EDU.to_csv("Total_EDU.csv")

In [6]:
Total_CSCO.to_csv("Total_CSCO.csv")